

.flex-center{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    border: 1px solid #555555;
    padding: 3em 4em;
    gap: 1em;
}

.container .flex{
    display: flex;
    justify-content: space-between;
    
}

.container .flex span {
    font-size: 1.4em;
    color: #555555;
}

.container .flex span.achive {
    font-weight: bold;
    color: #ff2a66;
    color: #2aff95;
}

table {
    width: 100%;
}

.table-header {
    color: #FFFFFF;
    font-size: 1.1em;
    text-align: center;
    background: #2C3E50;
    padding: 18px 0;
}

.table-body {
    font-size: 1.1em;
    text-align: center;
    /* color: #cecece; */
    color: #2C3E50;
    background: #ADD8E6;
    padding: 18px 0;
}

.table-header > tr > td{
    border: 1px solid #faff5a;   
}
